/* MEDIA QUERIES */
/* ==================== */

/* EXTRA SMALL */
@media (max-width: 576px) {
  /* navbar section */
  .navbar {
    padding: 0;
    border-bottom: 1px solid rgb(211, 211, 211);
  }
  /* nav title */
  .after-logo {
    font-size: 1em;
  }

  /* nav search */
  .box {
    width: 100%;
    height: 40px;
    margin-top: 3%;
  }
  .box > i {
    font-size: 20px;
  }
  .box > input {
    flex: 1;
    font-size: 13px;
  }

  /* nav icons */
  .header-icon .nav-icon {
    margin-left: 25px !important;
    transition: 0.3s;
    font-size: 22px !important;
  }

  /* dropdown content */
  .header-icon div.nav-icon>div.drp-menu {
    font-size: 14px !important;
  }

  .header-icon div.nav-icon:hover>div.drp-menu {
    top: 22.7px !important;
    right: -15px !important;
  }

  .drp-menu a{
    padding: 6px 10px !important;
    font-size: 15px !important;
  }

  /* HERO SECTION */
  .hero {
    margin-top: 15% !important;
  }

  /* SIDEBAR */
  .hero .sidebar {
    left: -200px !important;
    padding-top: 80px !important;
  }

  /* sidebar toggler */
  #sidebarToggler{
    position: fixed;
    top: 15% !important;
    font-size: 20px !important;
  }

  .sidebar a:last-child {
    margin-top:38vh !important;
  }
  
  /* sidebar icons */

  /* active link */
  .sidebar a {
    width: fit-content;
    text-decoration: none;
    display: block;
    margin: auto auto 25px;
    /* background-color: chartreuse; */
    text-align: center;
    transition: padding-left 0.2s;
  }
  .sidebar a.active * {
    color: #007092;;
  }
  .sidebar a:hover {
    padding-left: 3px;
  }
  .home, .like, .time, .setting {
    font-size: 23px;
    color:#c4c4c4;
  }
  .sidebar a:last-child {
    margin-top:48vh;
    margin-bottom: none;
  }
  /* -------------------------------------------------- */


  /* MAIN */
  .sidebar~main {
    /* background-color: rgb(231, 134, 6); */
    position: relative !important;
    margin-left: 0 !important;
  }

  /* COLUMN 1 */
  .sidebar~main .row>div:first-child {
    padding: 6% 1px !important;
    margin: 0;
    border-radius: 0 !important;
  }
  /* heading and logo */
  .main-detail>section:first-child * {
    /* background-color: blanchedalmond; */
  font-size: 27px !important;
    font-weight: bold;
    color: #007092;
    text-align: center;
  }
  .main-detail>section:first-child img {
    /* background-color: blanchedalmond; */
    width: 100px;
  }
  /* receipt */
  .main-detail>section:nth-child(2) {
    margin-top: 5%;
    font-size: 13px;
  }
  .main-detail>section:nth-child(2) table {
    width: 100% !important;
    border: none !important;
  }

  /* confirm */
  .receipt~div {
    margin: 7% auto !important;
    font-size: 18px !important;
  }
  .receipt~div i {
    font-size: 25px !important;
  }
  /* -------------------------------END */

  /* COLUMN 2 */
  .chart {
    /* background-color: red; */
    margin-top: 5% !important;
    padding: 1% 4%;
  }
  /* section 1 */
  .chart>section:nth-child(1)>h2 {
    font-weight: bold !important;
  }

  /* section 2 */
  .chart>section:nth-child(2)>div {
    width: 40% !important;
    height: 40% !important;
  }
}

/* SMALL */
@media (min-width: 576px) and (max-width: 768px) {
  /* navbar section */
  .navbar {
    padding: 0;
  }
  /* nav title */
  .after-logo {
    font-size: 1em;
  }

  /* nav icons */
  .header-icon .nav-icon {
    margin-left: 25px !important;
    font-size: 22px !important;
  }

  /* dropdown content */
  .header-icon div.nav-icon>div.drp-menu {
    font-size: 14px !important;
  }

  .header-icon div.nav-icon:hover>div.drp-menu {
    top: 22.7px !important;
    right: -15px !important;
  }

  /* dropdown content */
  .drp-menu a{
    padding: 6px 10px !important;
    font-size: 15px !important;
  }


  /* HERO SECTION */
  .hero {
    margin-top: 9% !important;
    padding: 1% 0;
  }

  /* SIDEBAR */
  .hero .sidebar {
    left: -200px !important;
    padding-top: 80px !important;
  }

  /* sidebar toggler */
  #sidebarToggler{
    position: fixed;
    top: 15% !important;
    font-size: 20px !important;
  }

  .sidebar a:last-child {
    margin-top:38vh !important;
  }
  
  /* sidebar icons */

  /* active link */
  .sidebar a {
    width: fit-content;
    text-decoration: none;
    display: block;
    margin: auto auto 25px;
    /* background-color: chartreuse; */
    text-align: center;
    transition: padding-left 0.2s;
  }
  .sidebar a:hover {
    padding-left: 3px;
  }
  .home, .like, .time, .setting {
    font-size: 22px !important;
  }
  /* -------------------------------------------------- */


  /* MAIN */
  .sidebar~main {
    /* background-color: rgb(231, 134, 6); */
    position: relative !important;
    margin: auto 0 !important;
  }

  /* COLUMN 1 */
  .sidebar~main .row>div:first-child {
    padding: 6% 1px !important;
    margin: 0;
    border-radius: 0 !important;
  }
  /* heading and logo */
  .main-detail>section:first-child * {
    /* background-color: blanchedalmond; */
    font-size: 27px !important;
    font-weight: bold;
    color: #007092;
    text-align: center;
  }
  .main-detail>section:first-child img {
    /* background-color: blanchedalmond; */
    width: 100px;
  }
  /* receipt */
  .main-detail>section:nth-child(2) {
    margin-top: 5%;
    font-size: 15px;
  }
  .main-detail>section:nth-child(2) table {
    width: 450px !important;
    border: none !important;
  }

  /* confirm */
  .receipt~div {
    margin: 7% auto !important;
    font-size: 18px !important;
  }
  .receipt~div i {
    font-size: 25px !important;
  }
  /* -------------------------------END */

  /* COLUMN 2 */
  .chart {
    /* background-color: red; */
    margin-top: 5% !important;
    padding: 1% 4%;
  }
  /* section 1 */
  .chart>section:nth-child(1)>h2 {
    font-weight: bold !important;
  }

  /* section 2 */
  .chart>section:nth-child(2)>div {
    width: 40% !important;
    height: 40% !important;
  }
}

/* MEDIUM */
@media (min-width: 768px) and (max-width: 992px) {
  /* navbar section */
  .navbar {
    padding: 0;
  }
  /* nav title */
  .after-logo {
    margin: 0 50px !important;
  }

  /* nav icons */
  .header-icon .nav-icon {
    font-size: 22px !important;
  }

  /* dropdown content */
  .drp-menu a{
    padding: 8px 10px !important;
    font-size: 15px !important;
  }

  .header-icon div.nav-icon:hover>div.drp-menu {
    top: 22.7px !important;
    right: -15px !important;
  }

  /* HERO SECTION */
  .hero {
    margin-top: 6% !important;
    padding: 1% 0;
  }

  /* SIDEBAR */
  .hero .sidebar {
    /* left: -200px !important; */
    padding-top: 80px !important;
  }

  .sidebar a:last-child {
    margin-top:38vh !important;
  }
  
  /* sidebar icons */

  /* active link */
  .sidebar a {
    width: fit-content;
    text-decoration: none;
    display: block;
    margin: auto auto 25px;
    /* background-color: chartreuse; */
    text-align: center;
    transition: padding-left 0.2s;
  }
  .sidebar a:hover {
    padding-left: 3px;
  }
  .home, .like, .time, .setting {
    font-size: 24px !important;
  }
  /* -------------------------------------------------- */


  /* MAIN */
  .sidebar~main {
    padding: 4% 1% 1% !important;
  }

  /* COLUMN 1 */
  .sidebar~main .row>div:first-child {
    padding: 5% 1px;
    margin: 0;
  }

  /* heading and logo */
  .main-detail>section:first-child img {
    width: 100px;
  }
  /* receipt */
  .main-detail>section:nth-child(2) {
    margin-top: 5%;
    font-size: 15px;
  }
  .main-detail>section:nth-child(2) table {
    width: 450px !important;
    border: none !important;
  }

  /* confirm */
  .receipt~div {
    margin: 7% auto !important;
    font-size: 18px !important;
  }
  .receipt~div i {
    font-size: 25px !important;
  }
  /* -------------------------------END */

  /* COLUMN 2 */
  .chart {
    /* background-color: red; */
    margin-top: 5% !important;
  }
  /* section 1 */
  .chart>section:nth-child(1)>h2 {
    font-size: 25px !important;
  }
  .chart>section:nth-child(1)>h2 {
    font-weight: bold !important;
  }

  /* section 2 */
  .chart>section:nth-child(2)>div {
    width: 40% !important;
    height: 40% !important;
  }
}

/* LARGE */
@media (min-width: 992px) and (max-width: 1200px){
  .drp-menu a{
    padding: 20px;
    font-size: 13px !important;
    font-weight: 400;
  }

  /* MAIN */
  .sidebar~main {
    padding: 3.5% 0% !important;
  }
}

/* EXTRA LARGE */
@media (min-width: 1200px) {
  /* MAIN */
  .sidebar~main {
    padding: 2% 1% !important;
  }
}
