/* @import url("https://fonts.googleapis.com/css?family=Raleway"); */
body {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway";
  font-family: Arial, Helvetica, sans-serif;
}
/* color: #016483 
    
*/
.bg-blue {
  background-color: #e8faff;
}
/* navigation*/
/* .after-logo {
  color: #007092;
  font-weight: bold;
  font-size: 2em;
  margin: 0 70px;
} */
@media (max-width: 992px) {
  .after-logo {
    width: 200px;
    font-size: 25px;
    margin-top: auto;
    font-weight: bolder;
  }
  .header-icon a i {
    width: 100%;
    font-size: 25px;
  }
  .box {
    width: 80%;
    padding: 7px;
  }
}
@media (max-width: 425px) {
  .header-icon a i {
    font-size: 10px;
  }
}

/* .box {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  display: flex;
  align-items: center;
  padding: 10px;
} */

.box > i {
  font-size: 20px;
  color: #777;
}

/* middle section */
.hero-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
}
.hero-center-card-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 15px;
  width: 200px;
}
.hero-center-card-text h2 {
  font-weight: 1000;
  font-size: 20px;
  color: #007092;
}
.hero-center-card-text span {
  font-weight: 1000;
  font-size: 10px;
  color: #007092;
}
.hero-center-card-text p {
  font-size: 14px;
  color: #c2c1c1;
  margin-top: -1px;
  padding-bottom: 70px;
}

.hero-center-card {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 40%;
  margin-top: -20px;
  margin-bottom: 40px;
  border: 3px solid #007092;
  border-radius: 20px;
  box-shadow: 0px 2px 2px 0px;
}
@media (min-width: 1200px) {
  .hero-center-card {
    margin-top: 20px !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hero-center-card {
    margin-top: 20px !important;
    width: 350px;
    height: 35%;
  }
  .hero-center-card p{
    margin-bottom: -20px;
  }
  .hero-center-card h2{
    margin-top: 20px;
  }
  .hero-center-card-text .hero-center-card-text-h2 {
    margin: 30px 0 20px 0 !important;
  }
  .cards {
    margin-left: 20px !important;
  }
  .cards h1 {
    font-size: 40px !important;
  }
  .card-p {
    font-size: 17px !important;
    text-align: center;
  }
  .cards img {
    width: 100%;
    margin-bottom: 30px !important;
  }
  .glass {
    /* width: 100% !important; */
    margin-right: -5px !important;
  }
  .glass-info p {
    font-size: 8px !important;
  }
  .glass-info h4 {
    font-size: 13px !important;
    padding-top: 10px !important;
  }
  .price-info h4 {
    padding-top: 20px;
    font-size: 11px !important;
    font-weight: 1000;
  }
  .price-info p {
    font-size: 7px !important;
  }
  .first {
    justify-content: center !important;
    margin: auto !important;
    border-radius: 30px !important;
    width: 500px !important;
    height: 650px !important;
    border-radius: 0px !important;
  }
  .form-group input{
    font-size: 15px !important;
  }
  .form-group input::placeholder{
    color: #fff;
    font-size: 15px !important;
  }
  .form-div{
    margin-top: 20px;
  }
  .form-div h1 {
    font-size: 25px !important;          
  }
  .form-div input[type="submit"] {
    width: 30%;
    font-size: 15px !important;
    font-weight: 500;
  }
  .social-icon {
    font-size: 20px;
    color: #fff;
  }
  .form-icon a{
    margin: 15px;
  }
  .social-icon i:hover{
    color: #007092;
    font-size: 20px;
  }
  
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero-center-card {
    width: 300px;
    height: 30%;
    margin-top: 20px;
  }
  .hero-center-card-text .hero-center-card-text-h2 {
    margin: 0 0 20px 0;
  }
  .hero-center-card-text p {
    font-size: 12px;
  }
  .hero-center-form select {
    width: 400px !important;
    margin: 0 30px;
  }
  .hero-center-form input {
    width: 400px !important;
    margin: 0 30px;
  }
  .glass {
    /* width: 100% !important; */
    margin-right: -5px !important;
  }
  .glass-info p {
    font-size: 9px !important;
  }
  .glass-info h4 {
    font-size: 14px !important;
    padding-top: 10px !important;
  }
  .price-info h4 {
    padding-top: 20px;
    font-size: 11px !important;
    font-weight: 1000;
  }
  .price-info p {
    font-size: 9px !important;
  }
  .cards h1 {
    font-size: 40px !important;
  }
  .card-p {
    font-size: 20px !important;
    text-align: center;
  }
  .payment-item {
    width: 400px !important;
    margin-bottom: 10px;
  }
  .first {
    margin: auto !important;
    width: 400px !important;
    height: 650px !important;
    
  }
  .second img {
    display: none !important;
  }
  .service {
    width: 400px !important;
    height: 180px !important;
    margin: auto !important;
    margin-top: 30px !important;
  }
  .service-text h1 {
    font-size: 25px !important;
    margin-top: -10px !important;
  }
  .service-text p {
    font-size: 20px !important;
  }
  .service-text button {
    width: 100px !important;
    font-size: 15px !important;
    margin-top: 20px !important;
    font-weight: 500;
  }
  .service img {
    width: 35% !important;
    height: 150px;
  }
  .services h2 {
    font-size: 25px !important;
    font-weight: 700;
    color: #007092;
  }
  .hero-center-card-service {
    width: 45% !important;
    height: 25% !important;
  }
  .hero-center-card-text h2 {
    font-size: 15px;
  }
  .hero-center-card-text p {
    font-size: 11px;
  }
  .hero-center-card-text span {
    font-size: 9px;
  }
  .hero-center-card-icon-service {
    width: 50px;
  }
  .hero-center-card-icon-service > div {
    width: 35px;
    margin-top: -20px;
    font-size: 10px;
    text-align: center;
  }
  .form-group input{
    font-size: 15px !important;
  }
  .form-group input::placeholder{
    color: #fff;
    font-size: 15px !important;
  }
  .form-div{
    margin-top: 20px;
  }
  .form-div h1 {
    font-size: 25px !important;          
  }
  .form-div input[type="submit"] {
    width: 30%;
    font-size: 15px !important;
    font-weight: 500;
  }
  .social-icon {
    font-size: 20px !important;
    color: #fff;
  }
  .form-icon a{
    margin: 15px;
  }
  .social-icon i:hover{
    color: #007092;
    font-size: 20px !important;
  }
}
@media (min-width: 567px) and (max-width: 767.98px) {
  .col-sm-4 {
    max-width: 100% !important;
  }
  .hero-icon {
    display: none;
  }
  .hero-center-card {
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 30%;
    margin-top: 40px !important;
  }
  .hero-center-card-text .hero-center-card-text-h2 {
    margin: 0 0 20px 0 ;
  }
  .hero-center-card-text p {
    
    font-size: 12px;
  }
  .hero-center-form select {
    width: 400px !important;
    margin: 0 30px;
  }
  .hero-center-form input {
    width: 400px !important;
    margin: 0 30px;
  }
  .form-div{
    border-radius: 0px !important;
  }
  .first {
    margin-top: 20px !important;
    margin: auto !important;
    border-radius: 0px !important;
    width: 500px !important;
    height: 650px !important;
    
  }
  .second img {
    display: none !important;
  }
  .cards p {
    font-size: 18px !important;
    padding-top: 20px;
    font-weight: 500;
  }
  .cards p span {
    margin-left: 15px;
  }
  .card-h1 {
    font-size: 70px !important;
  }
  .cards h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 70px !important;
    font-weight: 1000;
    color: #007092;
  }
  .glass {
    width: 80% !important;
  }
  .glass-info p {
    font-size: 9px !important;
    padding-top: 5px !important;
  }
  .glass-info h4 {
    font-size: 20px !important;
    padding-top: 10px !important;
  }
  .price-info h4 {
    padding-top: 20px;
    font-size: 20px !important;
    font-weight: 1000;
  }
  .price-info p {
    padding-top: 5px !important;
    font-size: 9px !important;
  }
  .payment-item {
    width: 300px !important;
    margin-bottom: 10px;
  }
  .payment {
    border-radius: 0px !important;
  }
  .payment img {
    margin-top: 20px !important;
    width: 80px !important;
    height: 80px !important;
  }
  .payment p {
    font-size: 15px !important;
  }
  .payment-comfirm i {
    font-size: 30px !important;
    padding: 10px !important;
  }
  .service {
    width: 400px !important;
    height: 180px !important;
    margin: auto !important;
    margin-top: 30px !important;
  }
  .service-text h1 {
    font-size: 25px !important;
    margin-top: -10px !important;
  }
  .service-text p {
    font-size: 20px !important;
  }
  .service-text button {
    width: 100px !important;
    font-size: 15px !important;
    margin-top: 20px !important;
    font-weight: 500;
  }
  .service img {
    width: 35% !important;
    height: 150px;
  }
  .services h2 {
    font-size: 25px !important;
    font-weight: 700;
    color: #007092;
  }
  .hero-center-card-service {
    width: 45% !important;
    height: 25% !important;
  }
  
  .hero-center-card-text h2 {
    margin-top: 20px;
    font-size: 15px;
  }
  .hero-center-card-text p {
    font-size: 11px;
    margin-bottom: -20px;
  }
  .hero-center-card-text-h2 {
    
    font-size: 15px;
  }
  .hero-center-card-text span {
    font-size: 9px;
  }
  .hero-center-card-icon-service {
    width: 50px;
  }
  .hero-center-card-icon-service > div {
    width: 35px;
    font-size: 10px;
    text-align: center;
  }
  .hero-center .hero-center-card-icon{
    margin: 30px;
  }
  .hero-center .hero-center-card-icon > img{
    margin-bottom: 30px;
  }
  .hero-center-card-icon-btn {
    width: 5px;
    padding: 2px;
    font-size: 10px;
    text-align: center;
    margin-top: 40px;
  }
  .form-group input{
    font-size: 15px !important;
  }
  .form-group input::placeholder{
    color: #fff;
    font-size: 15px !important;
  }
  .form-div{
    margin-top: 20px;
  }
  .form-div h1 {
    font-size: 25px !important;          
  }
  .form-div input[type="submit"] {
    width: 30%;
    font-size: 15px !important;
    font-weight: 500;
  }
  .social-icon {
    font-size: 20px !important;
    color: #fff;
  }
  .form-icon a{
    margin: 10px !important;
  }
  .social-icon i:hover{
    color: #007092;
    font-size: 20px !important;
  }
}
@media (max-width: 567px) {
  .hero-icon {
    display: none;
  }
  .hero-center {
    align-items: center;
    border-radius: 0px;
  }
  .hero-center-card {
    width: 250px;
    height: 30%;
    margin-top: 15px;
    margin: 30px 0;
  }
  .hero-center-form select {
    width: 250px !important;
    font-size: 17px !important;
    font-weight: 400 !important;
  }
  .hero-center-form input {
    width: 250px !important;
    font-size: 17px !important;
    font-weight: 400 !important;
  }
  .hero-center-form button {
    margin: auto !important;
    margin-top: 10px !important;
    width: 100px !important;
  }
  .hero-center-card-text {
    margin-left: 10px;
    margin-top: 5px;
    width: 200px;
  }
  .hero-center-card-text h2 {
    font-weight: 700;
    font-size: 18px;
  }
  .hero-center-card-text span {
    font-weight: 600;
    font-size: 10px;
  }
  .hero-center-card-text p {
    font-size: 9px;
    margin-top: -1px;
    padding-bottom: 10px;
  }
  .hero-center-card-icon img {
    width: 30px;
    height: 20px;
  }
  .hero-center-card-icon-btn {
    width: 5px;
    padding: 2px;
    font-size: 10px;
    text-align: center;
  }
  .hero-center-card-icon {
    margin-right: 5px;
  }
  .form-div{
    border-radius: 0px !important;
  }
  .form-div input[type="submit"] {
    margin-top: 20px !important;
  }
  .second img {
    display: none !important;
  }
  .cards p {
    font-size: 18px !important;
    padding-top: 20px;
    font-weight: 500;
  }
  .cards p span {
    margin-left: 15px;
  }
  .cards h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 30px !important;
    font-weight: 1000;
    color: #007092;
  }
  .glass {
    width: 80% !important;
  }
  .glass-info p {
    font-size: 9px !important;
    padding-top: 5px !important;
  }
  .glass-info h4 {
    font-size: 20px !important;
    padding-top: 10px !important;
  }
  .price-info h4 {
    padding-top: 20px;
    font-size: 15px !important;
    font-weight: 1000;
  }
  .price-info p {
    padding-top: 5px !important;
    font-size: 9px !important;
  }
  .payment-item {
    width: 300px !important;
    margin-bottom: 10px;
  }
  .payment {
    border-radius: 0px !important;
  }
  .payment img {
    margin-top: 20px !important;
    width: 80px !important;
    height: 80px !important;
  }
  .payment p {
    font-size: 15px !important;
  }
  .payment-comfirm i {
    font-size: 30px !important;
    padding: 10px !important;
  }
  .service-hero {
    width: 100% !important;
    border-radius: 0 !important;
  }
  .service {
    width: 100% !important;
    height: 200px !important;
    margin: auto !important;
    margin-right: 20px !important;
    margin-top: 30px !important;
    border-radius: 0 !important;
  }
  .service-text h1 {
    font-size: 25px !important;
    margin-top: -10px !important;
  }
  .service-text p {
    font-size: 20px !important;
  }
  .service-text button {
    width: 100px !important;
    font-size: 15px !important;
    margin-top: 20px !important;
    font-weight: 500;
  }
  .service img {
    width: 35% !important;
    height: 150px;
  }
  .services h2 {
    font-size: 25px !important;
    font-weight: 700;
    color: #007092;
  }
  .service-box-1 {
    flex-direction: column;
  }
  .service-box-2 {
    flex-direction: column;
  }
  .hero-center-card-service {
    width: 80% !important;
    height: 30% !important;
    margin: 10px auto !important;
  }
  .form-group input{
    font-size: 15px !important;
  }
  .form-group input::placeholder{
    color: #fff;
    font-size: 15px !important;
  }
  .form-div{
    margin-top: 20px;
  }
  .form-div h1 {
    font-size: 25px !important;          
  }
  .form-div input[type="submit"] {
    width: 30%;
    font-size: 15px !important;
    font-weight: 500;
  }
  .social-icon {
    font-size: 20px !important;
    color: #fff;
  }
  .form-icon a{
    margin: 5px !important;
  }
  .social-icon i:hover{
    color: #007092;
    font-size: 20px !important;
  }
}

.hero-center-card-icon {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.hero-center-card-icon img {
  width: 80px;
  height: 50px;
}
.hero-center-card-icon-btn {
  display: block;
  width: 70px;
  padding: 5px;
  border-radius: 6px;
  font-weight: 500;
  background-color: #007092;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.hero-center-card-icon-btn:hover {
  background-color: #777;
  transition: 0.5s;
}
.hero-center-form select {
  width: 650px;
  height: 50px;
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 9px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
  color: #007092;
}
.hero-center-form select:focus {
  outline: 0;
}
.hero-center-form input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 50px;
  margin-top: 10px;
  border: 1px solid #fff;
  border-radius: 9px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
  color: #777;
}
.hero-center-form input::placeholder {
  color: #c4c4c4;
}
.hero-center-form input:focus {
  outline: 0;
}

.hero-center-form button {
  margin: auto;
  margin-top: 15px;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007092;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: 0;
  font-size: 20px;
  text-align: center;
  transition: 0.3s;
}
.hero-center-form button:hover {
  color: #007092;
  background-color: #fff;
  border: 1px solid #007092;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards p {
  font-size: 18px;
  color: #c4c4c4;
  font-weight: 700;
}
.cards p span {
  margin-left: 15px;
}
.cards h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 50px;
  font-weight: 1000;
  color: #007092;
}
/* @media (max-width: 992px) {
  .cards h1 {
    font-size: 60px;
  }
  .cards p {
    font-size: 28px;
  }
} */
.phone-image {
  width: 35%;
}
.first {
  width: 400px;
  height: 700px;
  border-radius: 40px 0 0 0 !important;
}
.second img{
  width: 800px;
  height: 700px;
}




/* 75% circle css */
.mycards .mycard {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.mycards {
  margin-left: -50px;
  padding-top: 10px;
}
.percent {
  position: relative;
  width: 150px;
}
.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.percent .number h2 {
  color: #000;
  font-weight: 1000;
  font-size: 23px;
  transition: 0.5s;
  align-items: center;
}
svg {
  position: relative;
  width: 60px;
  height: 70px;
  /* z-index: 2; */
}

.percent .number h2 span {
  font-size: 13px;
  font-weight: 1000;
  color: #000;
}
.circle1 {
  width: 60%;
  height: 60%;
  fill: none;
  stroke: #f73767;
  stroke-width: 6;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.circle2 {
  width: 60%;
  height: 60%;
  fill: none;
  stroke: #007092;
  stroke-width: 6;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.circle3 {
  width: 60%;
  height: 60%;
  fill: none;
  stroke: #f78d37;
  stroke-width: 6;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
svg circle:nth-child(2) {
  stroke-dasharray: 110;
  stroke-dashoffset: 110;
}
.mycard:nth-child(1) svg circle:nth-child(2) {
  stroke: #fff;
  outline: hidden;
}
/* 75% circle ends */

/* ------------------------------------------------------------ */
.glass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #e8faff;
  border-radius: 10px;
  margin: 5% auto;
  padding: 20px;
}

.glass-info {
  margin-left: -50px;
  padding-top: 10px;
}

.glass-info h4 {
  top: 0;
  font-size: 20px;
  font-weight: 1000;
  color: #000000;
  text-align: start;
}
.glass-info p {
  margin-top: -9px;
  font-size: 17px;
  color: #777;
  text-align: start;
}
.price-info h4 {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 1000;
  color: #000000;
  text-align: start;
}
.price-info p {
  margin-top: -6px;
  font-size: 9px;
  color: #777;
  text-align: end;
}

.glass p {
  font-size: 10px;
  color: #777;
}

/* Service section */
.service-hero {
  border-radius: 50px;
}
.service {
  display: flex;
  justify-content: space-between;
  background-color: #b0d3fc;
  border-radius: 30px;
  margin: 0 30px 0 30px;
  padding: 30px;
  color: #fff;
}
.service-text h1 {
  font-size: 2.5em;
  font-weight: 700;
}
.service-text p {
  font-size: 2em;
}
.service-text button {
  border: none;
  width: 130px;
  padding: 5px;
  background-color: #b0d3fc;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.service-text button:hover {
  border: 1px solid #007092;
  transition: 0.3s;
  outline: 0;
}
.service-text button:active,
.service-text button:visited {
  outline: 0;
  border: 0;
  background-color: #007092;
}
.service img {
  width: 50%;
  height: 150px;
}
.services {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 35px;
}
.services h2 {
  font-size: 2.3em;
  font-weight: 700;
  color: #007092;
}
.service-box-1 {
  display: flex;
  justify-content: space-evenly;
}
.service-box-2 {
  display: flex;
  justify-content: space-evenly;
}

.hero-center-card-service {
  display: flex;
  justify-content: space-between;
  width: 45%;
  height: 40%;
  margin-top: -20px;
  margin-bottom: 40px;
  margin-left: 15px;
  background-color: #fff;
  border-radius: 20px;
}
.hero-center-card-service:hover {
  background-color: #e8faff;
  border: 3px solid #007092;
  box-shadow: 0px 2px 2px 0px;
  transition: all 0.3s;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
a:hover {
  text-decoration: none;
  color: #fff;
}

/* Payment Receipt */
.payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px !important;
  border-radius: 50px;
}
.payment .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment img {
  width: 100px;
  height: 100px;
  margin-top: -20px;
  margin-bottom: 10px;
}
.payment-item {
  display: flex;
  justify-content: space-between;
  width: 600px;
  border-bottom: 2px solid #777;
  margin-bottom: 10px;
}
.payment p {
  margin-bottom: -3px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}
.payment-comfirm {
  display: flex;
  align-items: center;
  color: #008892;
}
.payment-comfirm i {
  font-size: 50px;
  padding: 20px;
}
.payment-comfirm p {
  font-size: 25px;
  font-weight: 700;
}
/* Form */
.reg-image {
  margin-top: 10px;
}
.form-group input{
  display: block;
  margin: auto;
  width: 80%;
  padding: 10px;
  border: none;
  background: none;
  margin-top: 20px;
  color: #fff;
  outline: none;
  border-bottom: 1px solid #fff;
  font-size: 20px;
}
.form-group input:active{
  border: none;
  outline: none;
  background-color: none;
}
.form-group input::placeholder{
  color: #fff;
  font-size: 20px;
}
.form-div{
  margin-top: 20px;
}
.form-div h1 {
  font-size: 30px;
  color: #fff;
  margin: 2% 0;
  font-weight: 500;
}
.form-div input[type="submit"] {
  background-color: #5da3f3;
  width: 40%;
  margin: auto;
  outline: none;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
}
.form-div input[type="submit"]:hover {
  background-color: #78a7dd;
}
.form-div img{
  display: block;
  margin: auto;
}
.form-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  height: 46px;
  width: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: #fff;
}
.form-icon a{
  margin: 15px;
}
.social-icon i:hover{
  color: #007092;
  font-size: 25px;
}